
@{
    ViewBag.Title = "Network Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Network Status</h2>

<div class="container">
	<p class="center">Status : @ViewData["status"]</p>
</div>

